@charset "UTF-8";
/*global variable*/
:root {
  font-size: 62.5%;
  --primary-color: #0fbe7b;
  --hover-color: #05b471;
  --primary-color-two: #fe805c;
  --hover-color-two: #f14210;
  --primary-color-three: #0071e3;
  --hover-color-three: #0f40b2;
  --secondary-color-two: #4643d3;
  --primary-color-four: #ff6c5a;
  --hover-color-four: #e74637;
  --secondary-color-three: #2590cc;
  --primary-color-five: #2896f7;
  --hover-color-five: #1f65c3;
  --bColor: #777777;
  --color-one: #222222;
  --text-color-two: #999999;
  --text-color-three: #888888;
  --text-color-four: #333333;
  --background-two: #faefe3;
  --white: #ffffff;
  --black: #000000;
  --border-color: #e8e8e8;
  --border-color-two: #f7f7f7;
  --border-color-three: #e3e3e3;
  --banner-bg-one: #f4fffb;
  --bg-color-three: #f0f0f0;
  --bg-color-four: #e9fff6;
  --bg-color-five: #e1f4ec;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
blockquote {
  display: block;
  padding: 0px 24px;
  margin: 0 0 1.5em;
  position: relative;
  border-left: 4px solid #06223e;
  font-style: italic;
}

*:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  word-wrap: break-word;
}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget select {
  width: 100%;
  text-align: left;
  padding: 6px 25px 6px 25px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #eee;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 0em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.11%;
}

.gallery-caption {
  display: block;
}

.tag-label {
  font-weight: 600;
}

.entry-header-page .entry-title {
  color: #051829;
  font-size: 26px;
  font-weight: 600;
  display: none;
}

.wp-block-cover.has-background-dim {
  color: white;
}

.wp-block-button.is-style-outline {
  margin: 8px 0;
}

/*Widgets*/
.blog-sidebar ul.children, .blog-sidebar ul.sub-menu {
  padding-left: 15px !important;
}

.blog-sidebar ul {
  padding: 0;
  list-style-type: none;
}

.blog-sidebar #search-form div {
  position: relative;
}

.widget_search, .widget_block.widget_search {
  position: relative;
}
.widget_search input, .widget_block.widget_search input {
  width: 100%;
  height: 50px;
  border: 1px solid #eeeeee;
  border-radius: 0;
  box-shadow: none;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666666;
  padding: 0 2rem;
}
.widget_search button, .widget_block.widget_search button {
  position: absolute;
  padding: 0;
  border: 0;
  box-shadow: none;
  background: transparent;
  right: 2rem;
  top: 1.3rem;
  transition: all 0.5s linear;
}
.widget_search button.wp-block-search__button, .widget_block.widget_search button.wp-block-search__button {
  width: 80px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  top: 53px;
  right: 0;
  background: #5d7db1;
}

.blog-side-bar .widget_search i {
  line-height: inherit;
  font-size: 17px;
}

.widget_recent_entries li a:hover {
  color: var(--primary-color);
}

.widget_recent_entries li a {
  border-bottom: 2px solid #f5f5f5;
  padding: 12px 0;
  display: block;
  font-weight: 600;
  text-transform: capitalize;
}

.widget_recent_entries .post-date {
  font-size: 14px;
  font-size: 0.93333rem;
  color: #bebfc0;
  display: block;
}

.widget_recent_comments li + li {
  display: block;
  border-bottom: 2px solid #f5f5f5;
  padding: 12px 0;
}

.widget_recent_comments li + li:hover {
  color: var(--primary-color);
}

.widget_recent_comments a {
  display: inline-block;
  font-weight: 600;
  text-transform: capitalize;
}

ol.wp-block-latest-comments {
  padding: 0;
}

.widget_recent_comments .comment-author-link {
  color: var(--primary-color);
}

.widget_text select {
  width: 100%;
}

.widget_archive li a:hover {
  color: var(--primary-color);
}

.blog-sidebar ul > li {
  position: relative;
}

.widget_categories ul > li span,
.widget_archive ul > li span {
  position: absolute;
  top: 12px;
  right: 0;
}

.widget_categories li a,
.widget_archive li a,
.wp-block-archives li a,
.wp-block-categories li a,
.widget_pages li a,
.widget_meta li a,
.widget_nav_menu li a {
  display: block;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666666;
  transition: all 0.5s linear;
  line-height: 1;
  border-bottom: 1px solid #cccccc;
}
.widget_categories li a:hover,
.widget_archive li a:hover,
.wp-block-archives li a:hover,
.wp-block-categories li a:hover,
.widget_pages li a:hover,
.widget_meta li a:hover,
.widget_nav_menu li a:hover {
  color: var(--primary-color-five);
}

#wp-calendar {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  border-collapse: separate;
  border-spacing: 8px;
  margin-left: -2px;
}

#wp-calendar caption {
  display: none;
}

#wp-calendar tbody td {
  margin-bottom: 10px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #f4f4f4;
  padding: 6px;
}

#wp-calendar tbody td:hover {
  border-color: #06223e;
}

#wp-calendar tbody td.pad {
  border: 0;
}

#wp-calendar tbody td#today {
  color: #06223e;
  border-color: #06223e;
}

#wp-calendar tfoot td#prev a, #wp-calendar tfoot td#next a {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  bottom: -9px;
  margin-bottom: 1px;
}

#wp-calendar tfoot td#prev {
  text-align: left;
}

#wp-calendar tfoot td#next {
  text-align: right;
}

#wp-calendar thead th {
  font-size: 13px;
  font-weight: 400;
  color: #888;
  text-align: center;
  padding-bottom: 10px;
}

#wp-calendar tbody td a,
#wp-calendar tfoot td#prev a:hover, #wp-calendar tfoot td#next a:hover {
  color: var(--primary-color);
}

.widget_tag_cloud .tagcloud {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.widget_tag_cloud .tagcloud a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #eeeeee;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #666666;
  transition: all 0.5s linear;
}

.widget_tag_cloud .tagcloud a:hover {
  color: var(--primary-color-five);
}

.widget_rss li .rsswidget {
  margin: 0px 0px 6px 0px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4em;
  color: #000000;
}

.widget_rss li .rsswidget:hover {
  color: var(--primary-color);
}

.widget_rss .rss-date {
  font-size: 13px;
  color: #888;
  display: block;
}

.widget_rss .rssSummary {
  padding: 10px 0px;
}

.widget_rss cite {
  font-size: 13px;
}

.widget_rss li + li {
  padding-top: 9px;
  border-top: 1px solid #e8e8e8;
  margin-top: 9px;
}

/*Post navigation*/
.navigation.post-navigation {
  margin-top: 20px;
}

.navigation.post-navigation .nav-links, .navigation.posts-navigation .nav-links, .navigation.comment-navigation .nav-links {
  overflow: hidden;
  margin-bottom: 35px;
}

.navigation.posts-navigation .nav-links {
  margin-top: 20px;
}

.navigation.post-navigation .nav-previous, .navigation.posts-navigation .nav-previous, .navigation.comment-navigation .nav-previous {
  width: 50%;
  float: left;
}

.navigation.post-navigation a, .navigation.posts-navigation a, .navigation.comment-navigation a {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 0px;
  border: 1px solid #06223e;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease;
  font-weight: 700;
  font-size: 14px;
  color: #06223e;
}

.landzai-blog-post-details .comment-respond form .form-submit {
  margin-top: 20px;
  margin-bottom: 0;
}

.navigation.post-navigation .nav-next, .navigation.posts-navigation .nav-next, .navigation.comment-navigation .nav-next {
  width: 50%;
  float: right;
  text-align: right;
}

/*404*/
.error-404.not-found {
  max-width: 380px;
  text-align: center;
  margin: 5em auto;
}

.error-404.not-found h1 {
  margin-bottom: 35px;
  font-size: 32px;
  line-height: 1.2;
}

.no-results.not-found {
  margin-top: -40px;
}

.no-results.not-found h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #051829;
}

.error-404.not-found.not-search {
  margin-top: 15px;
}

/*Extra*/
.postpass-form input {
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 6px 80px 6px 15px;
  border-radius: 0;
  box-shadow: none;
  margin: 20px 0px;
}

.blog-style-one .text-box h3 a {
  color: #051829;
}

.meta-info .single-author, .meta-info .single-date, .meta-info .post-cat {
  margin-right: 5px;
  font-size: 13px;
  color: #888;
}

.meta-info i {
  font-size: 14px;
  vertical-align: bottom;
}

.leffect-1 i {
  color: #06223e;
}

/*Comments*/
.blog-details-content table, .blog-details-content th, .blog-details-content td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

th, td {
  padding: 0.4em;
}

.entry-title-meta h3 {
  margin-top: 0px;
  font-weight: 500;
  color: #051829;
  font-size: 26px;
  font-weight: 600;
}

.blog-details-content .entry-media {
  margin-bottom: 15px;
}

.tags-links a {
  background: #eee;
  color: black;
  padding: 2px 7px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 13px;
}

.fw-row .link-xpages {
  clear: both;
  padding: 15px 0px;
}

.link-xpages > span {
  background-color: #eee;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-right: 5px;
}

.link-xpages a {
  background-color: #eee;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-right: 5px;
}

.tag-pingbacks-2 .entry-body > ol, .tag-sticky-2 .entry-body > ul {
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: disc;
  padding-left: 19px;
}

.tag-comments-2 .entry-body > ul {
  margin-bottom: 20px;
  padding-left: 16px;
}

.tag-pingbacks-2 .entry-body > p, .tag-sticky-2 .entry-body > p {
  margin-bottom: 0px;
}

.landzai-blog-post-details .meta-info {
  list-style: none;
  overflow: hidden;
  border: 0;
  padding: 0 0 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.post-edit-link, .post-edit-link:hover {
  color: black;
  background-color: #eee;
  padding: 2px 10px;
  margin-bottom: 15px;
  display: inline-block;
}

.logged-in-as {
  margin-bottom: 10px;
  font-size: 13px;
}

.postpass-form .post-pass {
  border-radius: 0;
  font-size: 13px;
}

.logged-in-as a {
  margin-right: 3px;
}

.no-comments {
  margin-top: -10px;
}

.checkerbody.no-sidebar .col-md-3 {
  display: none;
}

.wp-block-button__link {
  font-size: 14px;
}

.wp-block-calendar a {
  text-decoration: none;
}

@media (min-width: 992px) {
  .wp-block-gallery.alignleft {
    padding-right: 20px;
  }
}
@media (min-width: 1150px) {
  .khbtap.dashicons {
    display: none;
  }
}
@media (max-width: 1150px) {
  .khb-navbox {
    display: none;
  }
}
.tag-alignment-2 .tags-links {
  clear: both;
  padding-top: 15px;
}

/*Headers*/
.img-box .read-more {
  color: black;
  display: block;
}

.blog-details-content .entry-body > * {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
}

.comment-form-cookies-consent {
  margin: 0;
  color: var(--text-color-four);
  display: flex;
  margin-top: 20px;
}
.comment-form-cookies-consent input {
  width: inherit;
  height: inherit;
  margin-right: 15px;
  margin-top: 6px;
}
.comment-form-cookies-consent label {
  display: block;
  font-size: 16px;
}

.entry-footer .edit-link {
  margin-top: 20px;
  display: inline-block;
}

.wp-block-button.alignleft, .wp-block-cover.has-background-dim.alignleft {
  margin-right: 25px;
}

#post-1784 .entry-body {
  padding-top: 10px;
}

#post-1016 .img-box img {
  width: auto;
}

#post-1016 .img-box {
  text-align: center;
}

.wp-block-search__label {
  margin-bottom: 10px;
}

.wp-block-search__button {
  margin-left: 0;
  background: #eee;
  color: black;
  border: 0;
  border-radius: 0;
  font-size: 13px;
}

.wp-block-search .wp-block-search__input {
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 6px 80px 6px 15px;
  border-radius: 0;
  box-shadow: none;
  font-size: 13px;
}

.wp-block-group.has-background {
  padding: 20px;
}

.checkerbody .wp-caption.alignleft {
  margin-right: 15px;
}

.wp-caption.alignright {
  margin-left: 15px;
}

.blog-grids .text-box h3 {
  margin: 10px 0px 10px 0px;
  font-size: 35px;
  font-weight: 600;
  position: relative;
}

.blog-grids .cat-bg {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 30px;
  display: inline-block;
  background-color: #06223e;
  margin-bottom: 4px;
}

.cat-bg:hover {
  color: white;
}

.blog-grids .single-blog-style-one:not(:last-child) {
  padding-bottom: 20px;
}

.blog-style-one .single-blog-style-one {
  margin-bottom: 15px;
}

.blog-style-one .text-box {
  padding: 50px 50px;
  background: white;
}

.blog-grids .single-blog-style-one {
  width: 100%;
}

.read-more {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.entry_excerpt {
  text-align: left;
  font-size: 15px;
  padding: 18px 0px 0px 0px;
}

.wp-calendar-nav a {
  background: #eee;
  color: black;
  padding: 2px 7px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 13px;
}

.wp-block-latest-comments .wp-block-latest-comments__comment,
.wp-block-latest-posts a,
.wp-block-rss a {
  display: block;
  color: #666666;
  text-transform: capitalize;
  border-bottom: 1px solid #cccccc;
  padding: 12px 0;
  line-height: 1;
}
.wp-block-latest-comments .wp-block-latest-comments__comment:hover,
.wp-block-latest-posts a:hover,
.wp-block-rss a:hover {
  color: var(--primary-color);
}

.wp-block-latest-comments .wp-block-latest-comments__comment a {
  color: #666666;
}

.wp-block-latest-comments__comment {
  margin: 0;
  line-height: inherit;
}

.wp-block-latest-posts,
.wp-block-rss {
  padding: 0;
}

.wp-block-latest-posts li {
  margin-bottom: 10px;
}

.wp-block-tag-cloud a {
  background: #eee;
  color: black;
  padding: 2px 7px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 13px;
}

.blog-grids .img-box img {
  width: 100%;
  height: auto;
}

.blog-details-content table {
  margin-bottom: 20px;
}

.blog-details-content table, .blog-details-content th, .blog-details-content td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

th, td {
  padding: 0.4em;
}

.entry-title-meta h3 {
  margin-top: 0px;
  color: #051829;
  font-size: 26px;
  font-weight: 600;
  display: none;
}

.blog-details-content .entry-media {
  margin-bottom: 15px;
}

.tags-links a {
  background: #eee;
  color: black;
  padding: 2px 7px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 13px;
}

.fw-row .link-xpages {
  clear: both;
  padding: 15px 0px;
}

.link-xpages > span {
  background-color: #eee;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-right: 5px;
}

.link-xpages a {
  background-color: #eee;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-right: 5px;
}

.fw-row table, .fw-row th, .fw-row td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

.tag-pingbacks-2 .entry-body > ol, .tag-sticky-2 .entry-body > ul {
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: disc;
  padding-left: 19px;
}

.tag-comments-2 .entry-body > ul {
  margin-bottom: 20px;
  padding-left: 16px;
}

.tag-pingbacks-2 .entry-body > p, .tag-sticky-2 .entry-body > p {
  margin-bottom: 0px;
}

.landzai-blog-post-details .meta-info {
  list-style: none;
  overflow: hidden;
  border: 0;
  padding: 0 0 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.post-edit-link, .post-edit-link:hover {
  color: black;
  background-color: #eee;
  padding: 2px 10px;
  margin-bottom: 15px;
  display: inline-block;
}

.postpass-form .post-pass {
  border-radius: 0;
  font-size: 13px;
}

.logged-in-as a {
  margin-right: 3px;
}

.no-comments {
  margin-top: -10px;
}

.checkerbody.no-sidebar .col-md-3 {
  display: none;
}

.wp-block-button__link {
  font-size: 14px;
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0px;
}

.wp-block-calendar a {
  text-decoration: none;
}

.checkerbody .blog-img-text {
  position: relative;
}

.checkerbody .blog-date {
  color: #999999;
}

.checkerbody .blog-img img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.checkerbody .blog-date strong {
  font-size: 40px;
  display: block;
}

.checkerbody .blog-text {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  position: relative;
  padding: 30px 25px 25px;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}

.checkerbody .has-post-thumbnail .blog-text {
  top: -30px;
  max-width: 90%;
  width: 100%;
}

.checkerbody .blog-grids {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
  .checkerbody .single-blog-style-one {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.blog-style-one .blog-tag a {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  color: #06223e;
}

a:hover {
  text-decoration: none;
}

.blog-style-one .blog-img-text .blog-title h2 {
  font-size: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
  color: #242527;
  margin-top: 15px;
}

.blog-style-one .blog-img-text .blog-title a {
  color: #242527;
}

.page.checkerbody .fw-row {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #EDEDED;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  padding: 40px 40px 40px 40px;
}

.blog-style-one .blog-img-text .blog-meta {
  margin-top: 15px;
}

.blog-style-one .post-meta-author {
  margin-right: 20px;
}

.blog-style-one .blog-img-text .blog-meta a {
  font-size: 14px;
  font-weight: 700;
  margin-right: 0px;
  color: #74787D;
}

.blog-style-one .blog-img-text .blog-meta i {
  color: #06223e;
}

.has-post-thumbnail .blog-img-text:hover .blog-text {
  top: -60px;
}

.breadcrumb_title {
  color: #fff;
  font-size: 40px;
  padding-bottom: 15px;
}

.checkerbody .blog-date {
  display: none;
}

.checkerbody .has-post-thumbnail .blog-date {
  display: block;
}

.checkerbody .breadcrumb_section {
  padding: 190px 0px 150px 0px;
  position: relative;
  background-image: url(brbg.jpg);
  background-size: cover;
  margin-bottom: 100px;
  background-position: center center;
}

.checkerbody .breadcrumb_section .background-overlay {
  background-color: rgba(0, 9, 25, 0.8);
}

.checkerbody .background-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.checkerbody .khb-navbox {
  margin: 0px;
  padding: 0px;
}

.checkerbody .khb_nav_alignright {
  margin-left: 40px;
}

.checkerbody .khb-navbox > li > a {
  display: block;
  position: relative;
}

.khb-navbox > .menu-item-has-children:before {
  top: 0;
  right: 9px;
  font-size: 11px;
  content: "";
  color: #fff;
  position: absolute;
  transition: 0.3s all ease-in-out;
  font-family: "dashicons";
}

.checkerbody .breadcrumb_list {
  position: relative;
  padding: 15px 0;
  font-weight: 500;
}

i.b-icon {
  margin: 0 5px;
}

.checkerbody .landzai-blog-left.sticky h2:before {
  font-family: dashicons;
  content: "";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}

.checkerbody .entry-content img {
  max-width: 100%;
}

.checkerbody .toggle-overlay.search-btn {
  position: absolute;
  right: -70px;
  color: white;
}

.checkerbody .search-body {
  top: 70px;
  opacity: 0;
  width: 300px;
  right: 55px;
  height: auto;
  z-index: 999;
  padding: 10px;
  position: absolute;
  visibility: hidden;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.checkerbody .search-open {
  opacity: 1;
  visibility: visible;
}

.checkerbody .search-body .search-form {
  width: 100%;
  height: auto;
  position: relative;
}

.checkerbody .search-body .search-form .search-input {
  width: 100%;
  height: 50px;
  color: #000;
  padding: 0px 20px;
  border: 1px solid #eee;
  background-color: #f7f7f7;
}

.checkerbody .search-body .search-form .search-close {
  top: 1px;
  right: 1px;
  z-index: 1;
  width: 50px;
  color: #fff;
  height: 48px;
  border: none;
  cursor: pointer;
  line-height: 48px;
  text-align: center;
  position: absolute;
  background-color: #06223e;
  line-height: inherit;
  border: 1px solid #eee;
}

.blog-side-bar img {
  height: inherit;
}

.unit-test-breadcumb .breadcrumb_title {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
}

.unit-test-breadcumb #crumbs a, .unit-test-breadcumb #crumbs {
  color: #FFFFFF;
}

.unit-test-breadcumb {
  padding: 208px 0px 173px 0px;
  position: relative;
  background-size: cover;
  margin-bottom: 100px;
  text-align: center;
}

.unit-test-breadcumb .sep {
  padding: 0px 10px;
}

.unit-test-breadcumb .background-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 9, 25, 0.8);
}

.unit-test-breadcumb .container {
  position: relative;
}

.page .blog-details-content .submit {
  color: #fff;
  border: none;
  font-weight: 700;
  padding: 15px 30px;
  background-color: #06223e;
  height: auto;
}

.page.logged-in .blog-details-content .submit {
  margin-top: 20px;
}

.khb_nav_row .khbtap {
  position: absolute;
  right: 0;
  color: white;
}

.postid-1785 .wp-block-button__link:hover {
  color: white !important;
}

.postid-1785 .is-style-outline .wp-block-button__link:hover {
  color: black !important;
}

.page-id-501 .link-xpages {
  clear: both;
  padding: 15px 0px;
  padding-top: 36px !important;
}

.admin-bar .khb-mobile {
  top: 45px;
}

.navigation.posts-navigation {
  width: 100%;
}

.breadcrumb_title .niotitle {
  padding-right: 20px;
}

@media (max-width: 1030px) {
  .unit-test-breadcumb .breadcrumb_title {
    font-size: 30px;
  }

  .blog-style-one .col-md-4, .blog-style-one .col-md-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .checkerbody .blog-grids {
    margin-left: 0px;
    margin-right: 0px;
  }

  .navigation.posts-navigation {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
  .comment-respond {
    padding: 0;
  }
}/*# sourceMappingURL=default.css.map */