.products.columns-3{
    margin: 0;
    width: 100%;     
}
.woocommerce .blog-grids ul.products li.product .onsale{
    top: 23px;
    right: 23px;     
}
.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
/*Checkout and cart page*/
 .woocommerce .col-1, .col-2 {
     max-width:none;
}
 span.woocommerce-input-wrapper {
     width: 100%;
}
/****************Customizing Woocommerce Checkout Page with CSS***************/
 .woocommerce form .form-row {
     width: 100% !important;
}
 .woocommerce-checkout #payment div.payment_box input.input-text, .woocommerce-checkout #payment div.payment_box textarea {
     width: 100% !important;
     padding: 8px;
}
 .woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select {
     width: 100%;
     height: 30px;
}
 .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
     float: left;
     width: 100%;
}
 .custom-checkout h3 {
     background-color: #165f1c;
     width: 45%;
     text-align: center;
     padding: 10px;
     border-radius: 5px;
     margin-top: 50px;
     color: #FFF;
     float: right;
}
 .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
     padding: .6180469716em;
     box-shadow: 0px 8px 16px 0px rgb(146 146 146 / 8%);
     color: #43454b;
     outline: 0;
     border: 0;
     -webkit-appearance: none;
     border-radius: 5px;
     box-sizing: border-box;
     font-weight: 400;
     border:solid 2px #e4e4e4;
}
 #wc_checkout_add_ons {
     width: 45%;
     float: right;
     text-align: center;
}
h3#order_review_heading, .woocommerce-additional-fields h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #001c2d;
    margin-bottom: 30px;
}
 @media screen and (min-width: 980px) {
     .woocommerce-shipping-fields h3, .woocommerce-billing-fields h3 {
        width:100%;
         font-size: 36px;
         font-weight: 700;
         line-height: 40px;
         color: #001c2d;
         margin-bottom: 30px;
    }
     .woocommerce .col2-set, .woocommerce-page .col2-set {
         width: 45%;
         float: left;
    }
     .woocommerce-checkout-review-order{
         width: 45%;
         float: right;
    }
}
 @media screen and (max-width: 979px) {
     .custom-checkout h3 {
         width: 100%;
    }
}
/* Woocommerce Styles */
 .woocommerce-cart.full-width-content .content, .woocommerce-checkout.full-width-content .content {
     max-width: 100%;
}
 .woocommerce-cart .woocommerce table.shop_table td.actions {
     border-top: 1px solid #e6e6e6;
     background: #f7f7f7;
     border-bottom: 0px solid #e6e6e6;
}
 .woocommerce-cart .entry-content form {
     width: 60%;
     float: left;
}
 .woocommerce-cart .woocommerce .cart-collaterals {
     width: 33%;
     float: right;
}
 .woocommerce-cart .woocommerce .cart-collaterals h2 {
     display: none;
}
 .woocommerce-cart .woocommerce .cart-collaterals .cart_totals {
     width: 100%;
}
 #add_payment_method .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-checkout .cart-collaterals .cart_totals tr th, #add_payment_method table.cart th, .woocommerce-cart table.cart th, .woocommerce-checkout table.cart th, .woocommerce-checkout table.shop_table th {
     color: #034997;
     font-size: 14px;
     font-size: 1.1rem;
}
 #add_payment_method .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-checkout .cart-collaterals .cart_totals tr td, #add_payment_method table.cart td, .woocommerce-cart table.cart td, .woocommerce-checkout table.cart td, .woocommerce-checkout table.shop_table td {
     color: #555;
     font-size: 14px;
     font-size: 1.2rem;
}
 .woocommerce-cart .woocommerce table.shop_table th {
     border-bottom: 2px solid #034997;
}
 .woocommerce-cart .woocommerce table.shop_table, .woocommerce-checkout .woocommerce table.shop_table {
     border: 1px solid #e6e6e6;
     margin: 0;
     text-align: left;
     width: 100%;
     border-collapse: separate;
     border-radius: 0;
     border-bottom: none;
     border-right: none;
     margin-bottom: 35px;
     border-bottom: 1px solid #e6e6e6;
}
 body #add_payment_method #payment ul.payment_methods li input, body.woocommerce-cart #payment ul.payment_methods li input, body.woocommerce-checkout #payment ul.payment_methods li input {
     width: auto;
     margin: -2px .5em 0 0;
}
 body .woocommerce form .form-row .input-checkbox {
     width: auto;
     margin: -2px 5px 0 0;
}
 #add_payment_method .cart-collaterals .cart_totals tr td, #add_payment_method .cart-collaterals .cart_totals tr th, body.woocommerce-cart .cart-collaterals .cart_totals tr td, body.woocommerce-cart .cart-collaterals .cart_totals tr th, body.woocommerce-checkout .cart-collaterals .cart_totals tr td, body.woocommerce-checkout .cart-collaterals .cart_totals tr th, body .woocommerce table.shop_table th {
     border-top: none;
     border-bottom: 1px solid #e6e6e6;
     border-right: 1px solid #e6e6e6;
     padding: 10px 20px;
}
 body #add_payment_method table.cart td, body #add_payment_method table.cart th, body.woocommerce-cart table.cart td, body.woocommerce-cart table.cart th, body.woocommerce-checkout table.cart td, body.woocommerce-checkout table.cart th {
     border-right: 1px solid #e6e6e6;
}
 #add_payment_method .cart-collaterals .cart_totals tr th, body.woocommerce-cart .cart-collaterals .cart_totals tr th, body.woocommerce-checkout .cart-collaterals .cart_totals tr th {
}
 .woocommerce-cart .cart-collaterals .cart_totals table th {
     border-bottom: 1px solid #e6e6e6;
}

 body .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
     float: right;
     width: 100%;
     display: block;
     text-align: center;
     margin-bottom: 0;
     font-size: 1.12em;
     padding: 1em;
     border-radius: 40px;
     margin-top: .5em;
}
 body .woocommerce form .form-row-first, body .woocommerce form .form-row-last, body .woocommerce-page form .form-row-first, body .woocommerce-page form .form-row-last {
     width: 49%;
}
 body .woocommerce #respond input#submit.disabled, body .woocommerce #respond input#submit:disabled, body .woocommerce #respond input#submit:disabled[disabled], body .woocommerce a.button.disabled, body .woocommerce a.button:disabled, body .woocommerce a.button:disabled[disabled], body .woocommerce button.button.disabled, body .woocommerce button.button:disabled, body .woocommerce button.button:disabled[disabled], body .woocommerce input.button.disabled, body .woocommerce input.button:disabled, body .woocommerce input.button:disabled[disabled] {
     background: #ccc;
}
 body .woocommerce #content table.cart td.actions .coupon, body .woocommerce table.cart td.actions .coupon {
     width: 68%;
}
 body #add_payment_method table.cart td.actions .coupon .input-text, body.woocommerce-cart table.cart td.actions .coupon .input-text, body.woocommerce-checkout table.cart td.actions .coupon .input-text {
     padding: 8px 6px 7px;
     width: 65%;
}
 body .woocommerce table.shop_table td {
     padding: 15px;
}
body .woocommerce-checkout table.shop_table td {
    border-right: 1px solid #e6e6e6;
    border-top: 0;
    font-size: 18px;
}
 .woocommerce a.remove {
     margin: 0 auto;
}
 .woocommerce-cart .woocommerce table.shop_table th.product-remove, .woocommerce-cart .woocommerce table.shop_table th.product-name {
     text-align: center;
}
 .woocommerce-cart .woocommerce table.shop_table th.product-price, .woocommerce-cart .woocommerce table.shop_table th.product-quantity, .woocommerce-cart .woocommerce table.shop_table th.product-subtotal {
     text-align: right;
}
 .woocommerce-cart .woocommerce table.shop_table .cart_item td.product-price, .woocommerce-cart .woocommerce table.shop_table .cart_item td.product-quantity, .woocommerce-cart .woocommerce table.shop_table .cart_item td.product-subtotal {
     text-align: right;
}
 .woocommerce-checkout #add_payment_method #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
     list-style: none;
}
 .woocommerce-checkout .woocommerce .col2-set {
     width: 47.8260869565%;
     float: left;
     margin-right: 4.347826087%;
}
 .woocommerce-checkout .woocommerce .col2-set .col-1, .woocommerce-checkout .woocommerce .col2-set .col-2 {
     margin-bottom: 2em;
     width: 100%;
     float: none;
}
 .woocommerce-checkout #order_review_heading, .woocommerce-checkout #order_review {
     width: 47.8260869565%;
     float: right;
}
 .woocommerce-checkout #ship-to-different-address-checkbox {
     width: auto;
     float: right;
     margin-left: 15px;
     margin-top: 10px;
     opacity: 1;
     position: static;
}
 .woocommerce-checkout #ship-to-different-address label,
 .woocommerce-order-details__title,
 .woocommerce-column__title{
     font-size: 20px;
     font-weight: 700;
     line-height: 1;
     margin: 0;
     margin-bottom: 1em;
     padding: 0;
     text-transform: uppercase;
     color: #000;
}
 .woocommerce-checkout .woocommerce form .form-row.create-account label {
     padding-top: 2px;
     font-weight: bold;
}
 .woocommerce-checkout .payment-fixed {
     position: fixed;
     z-index: 9;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 2em;
     left: 52%;
     margin-left: 0;
     padding: 20px;
     top: 0;
     width: 45.5% !important;
     -webkit-transition: padding .1s ease-in;
     -moz-transition: padding .1s ease-in;
     -o-transition: padding .1s ease-in;
     -ms-transition: padding .1s ease-in;
     transition: padding .1s ease-in;
}
 .product-shipping-message {
     font-size: 14px;
     text-align: center;
     text-transform: uppercase;
     padding: 10px 0px;
     border-top: 1px solid #139248;
     border-bottom: 1px solid #139248;
}
 body .woocommerce table.shop_table tbody th, body .woocommerce table.shop_table tfoot td, body .woocommerce table.shop_table tfoot th {
     border-bottom: none;
}
 body .woocommerce form .form-row input.input-text, body .woocommerce form .form-row textarea {
     max-width: 100%;
}
 body .woocommerce .product-name a {
     color: #000;
     pointer-events: none;
     cursor: default;
}
 @media only screen and (max-width: 1139px) {
     .woocommerce-cart .entry-content form {
         width: 64%;
    }
}
 @media only screen and (max-width: 980px) {
     .woocommerce-cart .entry-content form {
         width: 80%;
         float: none;
         margin: 0 auto;
    }
     .woocommerce-cart .woocommerce .cart-collaterals {
         width: 80%;
         float: None;
         margin: auto;
    }
     body .woocommerce #content table.cart td.actions .coupon, body .woocommerce table.cart td.actions .coupon {
         width: 100%;
    }
     body #add_payment_method table.cart td.actions .coupon .input-text, body.woocommerce-cart table.cart td.actions .coupon .input-text, body.woocommerce-checkout table.cart td.actions .coupon .input-text {
         width: 48%;
    }
}
 @media only screen and (max-width: 650px) {
     .woocommerce-cart .entry-content form {
         width: 100%;
    }
     .woocommerce-cart .woocommerce .cart-collaterals {
         width: 100%;
    }
     .woocommerce-checkout .woocommerce .col2-set {
         width: 100%;
         float: none;
         margin-right: 0;
    }
     .woocommerce-checkout #order_review_heading, .woocommerce-checkout #order_review {
         width: 100%;
         float: none;
    }
}
/*Added by angon*/
 .woocommerce-checkout .woocommerce-form-coupon-toggle{
     background: white;
}
 .woocommerce-checkout .woocommerce-info::before {
     color: #e3002a;
}
 .woocommerce-checkout .woocommerce-info {
     border-top-color: #e3002a;
     background: #f2f2f2;
}
 .woocommerce form.checkout_coupon{
     background: white;
     border-radius: 0;
     border-width: 0;
}
 .woocommerce-checkout .checkout_coupon button.button {
     background: #e3002a;
     color:white;
}
.checkout.woocommerce-checkout .col-1,.checkout.woocommerce-checkout .col-2,.woocommerce-checkout-review-order{
    background: white;
}
.woocommerce-MyAccount-navigation ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.woocommerce-MyAccount-navigation ul a{
    padding: 10px 20px;
    display: block;
}
.woocommerce-MyAccount-navigation li.is-active,
.woocommerce-MyAccount-navigation li:hover {
  background:#FFCB57;
  color:#000e14;
}
.woocommerce-MyAccount-content fieldset .form-row,
.woocommerce-form.woocommerce-form-login .form-row {
    display: inherit;
}
.woocommerce-MyAccount-content fieldset legend,
.woocommerce-account .addresses .title h3,
.woocommerce-form.woocommerce-form-login ~ h2 {
    color:#000e14;
    font-weight: 700;
}
.woocommerce-MyAccount-navigation li{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(241, 241, 241);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 16px 32px 0px rgba(26, 26, 43, 0.04);
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}
.woocommerce .woocommerce-cart-form {
    background: white;
}
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce button.button, .woocommerce input.button,
body .woocommerce a.checkout-button.button.alt,
body .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    font-size: 14px;
    font-weight: 700;
    color: #001C2D;
    background-color: #FFCB57;
    border-radius: 10px 10px 10px 10px;
    height: 38px;
    padding: 0 35px !important;
    line-height: 38px;
    display: inline-block;
}
body .woocommerce a.checkout-button.button.alt,
body .woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
    display: block;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 50%;
}
@media screen and (max-width: 480px){
    .woocommerce div.product form.cart .button,
    .woocommerce #respond input#submit, .woocommerce a.button,
    .woocommerce button.button, .woocommerce input.button,
    body .woocommerce a.checkout-button.button.alt,
    body .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
        padding: 0 9px !important;
    }
}
.woocommerce.checkerbody .comment-respond form {
    padding: 20px 30px;
    margin-top: 50px;
}
.woocommerce-single-related-product{
    margin-top: 60px;
}
.woocommerce-account .blog-details-content {
    margin-bottom: 80px;
}
.woocommerce .woocommerce-notices-wrapper{
    width: 100%;
}
.woocommerce .woocommerce-message {
    background: #f8f9fa;
    border-top-color: #e3002a;
}
.woocommerce .woocommerce-message::before {
    color: #e3002a;
}
.woocommerce div.product form.cart div.quantity {
    float: inherit;
    margin: 20px 0;
}